{{#if messages.success}}
    <div class="notifications success">
        {{messages.success}}
    </div>
{{/if}}

{{#if messages.error}}
    <div class="notifications error">
        {{messages.error}}
    </div>
{{/if}}

{{#if messages.info}}
    <div class="notifications info">
        {{messages.info}}
    </div>
{{/if}}