<header>
	<div class="container">
		<nav>
			<ul class="main">
				<li><a class="logo" href="/"></a></li>
				<li><a class="{{#IsSelected title "Posts"}}{{/IsSelected}}" href="/posts/all">Posts</a></li>
				<li><a class="{{#IsSelected title "Users"}}{{/IsSelected}}"href="/users/all">Users</a></li>
				{{#if userInfo.username }}
					<li><a class="{{#IsSelected title "My Posts"}}{{/IsSelected}}" href="/posts/user">My Posts</a></li>
				{{/if}}
				{{#unless userInfo.username }}
					<li class="login"><a class="{{#IsSelected title "Login"}}{{/IsSelected}}" href="/login">Login</a></li>
				{{/unless}}
			</ul>
			{{#if userInfo.username }}
				{{> UserNav}}
			{{/if}}
		</nav>
	</div>
</header>