<ul class="user">
    <li class="more">
        <img src="{{#GetGravatar userInfo.username}}{{/GetGravatar}}" />
        {{ userInfo.username }}
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Sign out</a></li>
        </ul>
    </li>
</ul>