<ul class="user">
    <li class="more">
        Signed in as {{ userInfo.username }}
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Sign out</a></li>
        </ul>
    </li>
</ul>