<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    {{> Header}}
	<main>
        {{> Flash}}
        {{{body}}}
    </main>
    {{> Footer}}
</body>
</html>