<section class="profile">
    <img src="{{#GetGravatar userInfo.username}}{{/GetGravatar}}" />
    <p><span>Username</span> {{ user.username }}</p>
    <p><span>Joined</span> {{#FormatDate user.signedUp }}{{/FormatDate}}</p>
    <p><span>Following</span> {{ user.following }} </p>
    <p><span>Followers</span> {{ user.followers }} </p>
</section>