/* ==========================================================================
   Resets
========================================================================== */

html,body,main,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body 															{ line-height: 1; }
ol,ul	 														{ list-style: none; }
blockquote,q 													{ quotes: none; }
blockquote:before,blockquote:after,q:before,q:after 			{ content: none; }
table															{ border-collapse: collapse; border-spacing: 0; }
*																{ margin: 0; padding: 0; }
*, *:before, *:after 											{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html 															{ background-color: #fff; font-size: 1em; height: 100%; width: 100%; }
body															{ width: 100%; }

::-moz-selection 												{ background: #b3d4fc; text-shadow: none; }
::selection 													{ background: #b3d4fc; text-shadow: none; }

hr 																{ display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 0 auto; padding: 0; }

input, textarea, button, select									{ -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: none; }

audio, canvas, iframe, img, svg, video 							{ vertical-align: middle; }
fieldset 														{ border: 0; margin: 0; padding: 0; }
textarea 														{ resize: vertical; }

button															{ margin: 0; padding: 0; border: 0; background: transparent; font-family: inherit; font-size: 1em; cursor: pointer; outline: none; overflow: visible; }
button::-moz-focus-inner										{ padding: 0; border: 0; }

/* ==========================================================================
   variables
========================================================================== */

/* colors */
$purplePrimary: #972B46;
$bluePrimary: #84B4EB;
$whitePrimary: #fafafb;
$white: #fff;
$black: #000;
$cream: #FFDDBC;
$greenPrimary: #4C644F;
$greenSecondary: #C7D89B;
$deepRed: #7A122E;
$lightGray: #ddd;
$extraLightGray: #eee;
$grayDark: #777;

/* font sizes */
$normal: 1em;
$small: .9em;
$extraSmall: .8em;

/* fonts */
$siteFonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubunutu, Cantarell, Helvetica, Neue, sans-serif;

/* ==========================================================================
   Helpers
========================================================================== */

.notransition, .notransition section							{ -webkit-transition-duration: 0 !important; -moz-transition-duration: 0 !important; -ms-transition-duration: 0 !important; transition-duration: 0 !important; -webkit-transition-delay: 0 !important; -moz-transition-delay: 0 !important; -ms-transition-delay: 0 !important; transition-delay: 0 !important; }

.ir																{ text-indent: 100%; white-space: nowrap; overflow: hidden; }

.clearfix:before, .clearfix:after 								{ content: " "; display: table; }
.clearfix:after													{ clear: both; }
.clearfix														{ *zoom: 1; }

/* ==========================================================================
   notifications
========================================================================== */

.notifications {
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.notifications.info {
    color: $bluePrimary;
}

.notifications.success {
    color: $greenPrimary;
}

.notifications.error {
    color: $deepRed;
}

/* ==========================================================================
   shared
========================================================================== */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: $white;
    text-decoration: none;
    padding: .5em;
    border-radius: 3px;
    display: inline-block;
    margin: .5em 0;
    font-size: .85em;
    cursor: pointer;

    &.small {
        font-size: .7em;
    }
}

.btn.follow {
    background-color: $greenSecondary;
}

.btn.unfollow {
    background-color: $deepRed;
}

.btn.delete {
    background-color: $deepRed;
}

.btn.edit  {
    background-color: $bluePrimary;
}

.btn.new-post {
    background-color: $greenPrimary;
}

.transition {
    transition: all .25s linear;
}

.noshow {
    display: none;
}

.sectionStyle {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    padding: 1em;
    background-color: $white;
}

.formStyle {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

/* ==========================================================================
   forms
========================================================================== */

form {
    &.primary {
        width: 500px;
        margin: 0 auto;
        background-color: $bluePrimary;
        padding: 1em;
        color: $white;
        @extend .formStyle;
    }

    fieldset {
        margin-bottom: .5em;
    }

    h1 {
        text-align: center;
    }

    input {
        font-family: $siteFonts;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 1.25em;
        height: 1.75em;
    }

    input[type=submit] {
        width: auto;
        background-color: $greenPrimary;
    }

    label {
        display: block;
        font-size: .8em;
        margin-bottom: .25em;
    }

    textarea {
        width: 100%;
        height: 100px;
        padding: 1em;
    }

    a {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: .8em;
        margin-top: .5em;
    }
}

/* ==========================================================================
   site styles
========================================================================== */

body {
    font-family: $siteFonts;
    background-color: $lightGray;
}

header {
    background-color: $purplePrimary;
    border-top: 3px solid $bluePrimary;
}

main {
    padding: 1em .5em;
    margin: 0 auto;
    max-width: 1200px;
    color: $grayDark;
}

nav {
    position: relative;
    color: $white;
    padding: 0 .5em;

    li a {
        color: $white;
        text-decoration: none;
        display: inline-block;
    }

    ul.main {
        position: relative;
        display: flex;   

        li {
            display: inline-block;

            &.login {
                position: absolute;
                right: .5em;
            }
            
            &:first-child {
                margin-right: .5em;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        
        a {
            transition: all .25s linear;
            padding: 1.25em .75em;
            border-bottom: .25em solid $purplePrimary;

            &.active {
                color: $purplePrimary;
                background-color: $whitePrimary;
                border-bottom: .25em solid $bluePrimary;

                &:hover {
                    border-bottom-color: $bluePrimary;
                }
            }

            &.logo {
                height: 100%;
                width: 28px;
                background: url(/img/logo.svg) 50% 50% no-repeat;
                background-size: 100%;

                &:hover {
                    background-color: $purplePrimary;
                    border-bottom-color: $purplePrimary;
                }
            }

            &:hover {
                color: $purplePrimary;
                background-color: $whitePrimary;
                border-bottom-color: $white;
            }
        }
    } 

    ul.user {
        position: absolute;
        right: .5em;
        display: inline-block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;

        img {
            width: 35px;
            height: 35px;
            position: absolute;
            border-radius: 35px;
            left: -42px;
            top: -8px;
        }

        li ul {
            position: absolute;
            right: 1000em;
            background-color: $whitePrimary;
            border-radius: 3px;
            border: 1px solid $purplePrimary;
            width: 100%;
            top: 1.5em;
            z-index: 1;
        }

        li.more {
            position: relative;
            cursor: pointer;

            &:after {
                content: "\25BE";
            }

            &.close:after {
                content: "\25B4";
            }
        }
    }

    ul.user li ul.show {
        right: 0;
        left: 0;
    }
    
    li ul li a {
        color: $black;
        padding: .5em;
        display: block;
    }
}

.posts {
    @extend .sectionStyle;

    .comments-form {
        margin: .5em 0;

        i {
            background: url(/img/comment.svg) 50% 50% no-repeat;
            background-size: contain;
            cursor: pointer;
            height: 20px;
            width: 20px;
            display: inline-block;
        }

        form {
            margin-top: .5em;

            input[type=text] {
                border: 1px solid $lightGray;

                &.error {
                    border: 1px solid red;
                }
            }
        }
    }
}

.post {
    border-bottom: 1px solid $lightGray;
    padding: .75em 0;
    position: relative;
    display: flex;

    &:last-child {
        margin-bottom: 0;
        border-bottom: 0;    
    }

    h1 {
        font-weight: 500;
        margin-bottom: .25em;
    }

    h2 {
        font-size: .9em;
        margin-bottom: 1.5em;
        line-height: 1.5em;
    }

    span.like-post {
        cursor: pointer;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-bottom: .5em;
    }

    p.likes {
        margin-bottom: .5em;

        span {
            color: $deepRed;
        }
    }

    p {
        font-size: .8em;
    }

    ul.comments {
        background-color: $extraLightGray;
        padding: 1em;
        font-size: $extraSmall;
        margin-top: .5em;

        li {
            margin-bottom: .5em;

            span {
                font-weight: 500;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    span.view-comments, span.hide-comments {
        cursor: pointer;
        font-size: .8em;
    }

    .post-content {
        width: 80%;
    }

    .post-info {
        width: 20%;    
        text-align: right;

        h3 {
            font-size: .75em;
            position: absolute;
            padding: .5em;
            top: 1em;
            right: 0;
            background-color: $bluePrimary;
            color: $white;
            text-transform: uppercase;
        }

        h4 {
            font-size: .75em;
            position: absolute;
            right: 0;
            top: 45px;
        }

        img {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 65px;
            right: 0;
        }
    }
}

.latest-posts {
    @extend .sectionStyle;

    h3 {
        text-transform: uppercase;
        background-color: $greenPrimary;
        color: $white;
        padding: .5em;
        display: inline-block;
    }
}

.popular-posts {
    @extend .sectionStyle;

    h3 {
        text-transform: uppercase;
        background-color: $greenPrimary;
        color: $white;
        padding: .5em;
        display: inline-block;
    }
}

.pagination {
    @extend .sectionStyle;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
        margin: 0 .25em;

        a {
            padding: .75em;
            display: inline-block;
            text-decoration: none;
            color: $grayDark;

            &.active {
                background-color: $purplePrimary;
                color: $white;
                pointer-events: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.single-post {
    @extend .sectionStyle;

    h1 {
        font-weight: 500;
        margin-bottom: .25em;
    }

    display: block;
}

.profile {
    @extend .sectionStyle;

    img {
        border-radius: 80px;
        margin-bottom: .5em;
    }

    p {
        margin-bottom: .5em;

        span {
            font-weight: 500;
        }
    }
}

.user-list {
    @extend .sectionStyle;

    .user-info {
        border-bottom: 1px solid $lightGray;
        padding: .75em;
        position: relative;

        h1 {
            margin-bottom: .5em;
            display: inline-block;
        }
    
        img {
            border-radius: 40px;
            width: 40px;
            margin-right: .5em;
        }

        .follow-container {
            float: right;

            span {
                display: none;

                &.on {
                    display: inline-block;
                }
            }
        }
    }    

    .user-info:last-child {
        border-bottom: none;
    }
}

.notfound {
    @extend .sectionStyle;
}

footer {
    background-color: $purplePrimary;
    color: $white;
    text-align: center;
    height: 50px;
    position: relative;

    p {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}