/* ==========================================================================
   Resets
========================================================================== */
html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #fff;
  font-size: 1em;
  height: 100%;
  width: 100%; }

body {
  width: 100%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding: 0; }

input, textarea, button, select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  overflow: visible; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* ==========================================================================
   variables
========================================================================== */
/* colors */
/* fonts */
/* ==========================================================================
   Helpers
========================================================================== */
.notransition, .notransition section {
  -webkit-transition-duration: 0 !important;
  -moz-transition-duration: 0 !important;
  -ms-transition-duration: 0 !important;
  transition-duration: 0 !important;
  -webkit-transition-delay: 0 !important;
  -moz-transition-delay: 0 !important;
  -ms-transition-delay: 0 !important;
  transition-delay: 0 !important; }

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   notifications
========================================================================== */
.notifications {
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase; }

.notifications.info {
  color: #84B4EB; }

.notifications.success {
  color: #4C644F; }

.notifications.error {
  color: #7A122E; }

/* ==========================================================================
   shared
========================================================================== */
.container {
  max-width: 1200px;
  margin: 0 auto; }

.btn {
  color: #fff;
  text-decoration: none;
  padding: .5em;
  border-radius: 3px;
  display: inline-block;
  margin: .5em 0;
  font-size: .85em;
  cursor: pointer; }

.btn.delete {
  background-color: #7A122E; }

.btn.edit {
  background-color: #84B4EB; }

.btn.new-post {
  background-color: #4C644F; }

.transition {
  transition: all .25s linear; }

.noshow {
  display: none; }

.sectionStyle, .posts, .latest-posts, .popular-posts, .single-post, .profile, .user-list {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 1em;
  background-color: #fff; }

.formStyle, form {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }

/* ==========================================================================
   forms
========================================================================== */
form {
  width: 500px;
  margin: 0 auto;
  background-color: #84B4EB;
  padding: 1em;
  color: #fff; }
  form fieldset {
    margin-bottom: .5em; }
  form h1 {
    text-align: center; }
  form input {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubunutu, Cantarell, Helvetica, Neue, sans-serif; }
  form input[type=text],
  form input[type=password] {
    width: 100%;
    padding: 1.25em;
    height: 1.75em; }
  form input[type=submit] {
    width: auto;
    background-color: #4C644F; }
  form label {
    display: block;
    font-size: .8em;
    margin-bottom: .25em; }
  form textarea {
    width: 100%;
    height: 100px;
    padding: 1em; }
  form a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: .8em;
    margin-top: .5em; }

/* ==========================================================================
   site styles
========================================================================== */
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubunutu, Cantarell, Helvetica, Neue, sans-serif;
  background-color: #ddd; }

header {
  background-color: #972B46;
  border-top: 3px solid #84B4EB; }

main {
  padding: 1em .5em;
  margin: 0 auto;
  max-width: 1200px;
  color: #777; }

nav {
  position: relative;
  color: #fff;
  padding: 0 .5em; }
  nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block; }
  nav ul.main {
    position: relative;
    display: flex; }
    nav ul.main li {
      display: inline-block;
      margin-right: .5em; }
      nav ul.main li:last-child {
        margin-right: 0; }
    nav ul.main a {
      transition: all .25s linear;
      padding: 1.25em .5em; }
      nav ul.main a.logo {
        height: 100%;
        width: 28px;
        background: url(/img/logo.svg) 50% 50% no-repeat;
        background-size: 100%; }
        nav ul.main a.logo:hover {
          background-color: #972B46; }
      nav ul.main a:hover {
        color: #972B46;
        background-color: #fafafb; }
  nav ul.user {
    position: absolute;
    right: .5em;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1; }
    nav ul.user img {
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 35px;
      left: -42px;
      top: -8px; }
    nav ul.user li ul {
      position: absolute;
      right: 1000em;
      background-color: #fafafb;
      border-radius: 3px;
      border: 1px solid #972B46;
      width: 100%;
      top: 1.5em;
      z-index: 1; }
    nav ul.user li.more {
      position: relative;
      cursor: pointer; }
      nav ul.user li.more:after {
        content: "\25BE"; }
      nav ul.user li.more.close:after {
        content: "\25B4"; }
  nav ul.user li ul.show {
    right: 0;
    left: 0; }
  nav li ul li a {
    color: #000;
    padding: .5em;
    display: block; }

.post {
  border-bottom: 1px solid #ddd;
  padding: .75em 0;
  position: relative;
  display: flex; }
  .post:last-child {
    margin-bottom: 0;
    border-bottom: 0; }
  .post h1 {
    font-weight: 500;
    margin-bottom: .25em; }
  .post h2 {
    font-size: .9em;
    margin-bottom: 1.5em;
    line-height: 1.5em; }
  .post span.likePost {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block; }
  .post p {
    font-size: .8em; }
  .post .post-content {
    width: 80%; }
  .post .post-info {
    width: 20%; }
    .post .post-info h3 {
      font-size: .8em;
      position: absolute;
      padding: .5em;
      top: 1em;
      right: 1em;
      background-color: #84B4EB;
      color: #fff; }
    .post .post-info img {
      width: 35px;
      height: 35px; }

.latest-posts {
  margin-bottom: 1em; }

.single-post {
  display: block; }
  .single-post h1 {
    font-weight: 500;
    margin-bottom: .25em; }

.profile img {
  border-radius: 80px;
  margin-bottom: .5em; }

.profile p {
  margin-bottom: .5em; }
  .profile p span {
    font-weight: 500; }

.user-list h1 {
  margin-bottom: .5em; }

.user-list img {
  border-radius: 40px;
  width: 40px; }

.user-list span {
  float: right; }

.user-list .user-info {
  border-bottom: 1px solid #ddd;
  padding: .75em;
  position: relative; }

.user-list .user-info:last-child {
  border-bottom: none; }

footer {
  background-color: #972B46;
  color: #fff;
  text-align: center;
  height: 50px;
  position: relative; }
  footer p {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
