/* ==========================================================================
   Resets
========================================================================== */

html,body,main,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body 															{ line-height: 1; }
ol,ul	 														{ list-style: none; }
blockquote,q 													{ quotes: none; }
blockquote:before,blockquote:after,q:before,q:after 			{ content: none; }
table															{ border-collapse: collapse; border-spacing: 0; }
*																{ margin: 0; padding: 0; }
*, *:before, *:after 											{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html 															{ background-color: #fff; font-size: 1em; height: 100%; width: 100%; }
body															{ width: 100%; }

::-moz-selection 												{ background: #b3d4fc; text-shadow: none; }
::selection 													{ background: #b3d4fc; text-shadow: none; }

hr 																{ display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 0 auto; padding: 0; }

/* input, textarea, button, select									{ -moz-appearance: none; -webkit-appearance: none; appearance: none; border-radius: 0; border: none; } */

audio, canvas, iframe, img, svg, video 							{ vertical-align: middle; }
fieldset 														{ border: 0; margin: 0; padding: 0; }
textarea 														{ resize: vertical; }

button															{ margin: 0; padding: 0; border: 0; background: transparent; font-family: inherit; font-size: 1em; cursor: pointer; outline: none; overflow: visible; }
button::-moz-focus-inner										{ padding: 0; border: 0; }

/* ==========================================================================
   Helpers
========================================================================== */

.notransition, .notransition section							{ -webkit-transition-duration: 0 !important; -moz-transition-duration: 0 !important; -ms-transition-duration: 0 !important; transition-duration: 0 !important; -webkit-transition-delay: 0 !important; -moz-transition-delay: 0 !important; -ms-transition-delay: 0 !important; transition-delay: 0 !important; }

.ir																{ text-indent: 100%; white-space: nowrap; overflow: hidden; }

.clearfix:before, .clearfix:after 								{ content: " "; display: table; }
.clearfix:after													{ clear: both; }
.clearfix														{ *zoom: 1; }

/* ==========================================================================
   notifications
========================================================================== */

.notifications.info {
    color: blue;
}

.notifications.success {
    color: green;
}

.notifications.error {
    color: red;
}

/* ==========================================================================
   forms
========================================================================== */

form {
    width: 500px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 1em;
}

form fieldset {
    margin-bottom: .5em;
}

form h1 {
    text-align: center;
}

form input {
    width: 100%;
}

form input[type=submit] {
    width: auto;
    float: right;
}

form textarea {
    width: 100%;
    height: 100px;
    padding: 1em;
}

form a {
    display: block;
}

form label {
    display: block;
}

/* ==========================================================================
   site styles
========================================================================== */
main {
    padding: 1em
}

nav {
    height: 75px;
    position: relative;
    background-color: green;
    color: #fff;
    padding: 1em;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav ul.main {
    float: left;
}

nav ul.main li {
    display: inline-block;
    margin-right: .5em;
}

nav ul.main li:last-child {
    margin-right: 0;
}

nav ul.user {
    float: right;
    position: relative;
}

nav ul.user li.more {
    position: relative;
}

nav ul.user li.more:after {
    content: "\25BE";
}

nav ul.user li:hover > ul {
    right: 0;
}

nav ul.user li > ul {
    position: absolute;
    right: 1000em;
}

.single-post {
    border-bottom: 1px solid #ccc;
    padding: .5em 0;
}

.single-post:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

footer {
    background-color: green;
    color: #fff;
    text-align: center;
    height: 50px;
    position: relative;
}

footer p {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}