<section class="latest-posts">
    <h3>Latest Posts</h3>
    {{#latestPosts}}
        <section class="post">
            <section class="post-content">
                <h1>{{ title }}</h1>
                <h2>{{ content }}</h2>
            </section>
            <section class="post-info">
                <img src="{{#GetGravatar userId}}{{/GetGravatar}}" />
                <h3>{{#FormatDate date}}{{/FormatDate}}</h3>
            </section>
        </section>
    {{/latestPosts}}
</section>
<section class="popular-posts">
    <h3>Most Popular</h3>
    {{#mostPopularPosts}}
        <section class="post">
            <section class="post-content">
                <h1>{{ title }}</h1>
                <h2>{{ content }}</h2>
            </section>
            <section class="post-info">
                <img src="{{#GetGravatar userId}}{{/GetGravatar}}" />
                <h3>{{#FormatDate date}}{{/FormatDate}}</h3>
            </section>
        </section>
    {{/mostPopularPosts}}
</section>