<section class="user-list">
    {{#users}}
        <section class="user-info">
            <h1>{{ email }}</h1>
            <img src="{{#GetGravatar email}}{{/GetGravatar}}" />
            {{#if ../userInfo.username }}
                {{#if alreadyFollowing}}
                    <span class="unfollow" data-unfollowid="{{email}}">Unfollow</span>
                {{/if}}
                {{#unless alreadyFollowing}}
                    <span class="follow" data-followid="{{email}}">Follow</span>
                {{/unless}}
            {{/if}}
        </section>
    {{/users}}
</section>