<form method="post" action="/posts/new">
    <fieldset>
        <label for="title">Title</label>
        <input type="text" name="title" />
    </fieldset>
    <fieldset>
        <label for="content">What&rsquo;s on  your mind?</label>
        <textarea name="content"></textarea>
    </fieldset>
    <input type="submit" value="Create Post" />
</form>