<section class="posts">
    {{#posts}}
        <section class="post single-post">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
        </section>
    {{else}}
        <p>You haven&rsquo;t written any posts, click <a href="/posts/add">here</a> to get started!</p>
    {{/posts}}
</section>