<form method="post" action="/users/add">
    <h1>Sign up</h1>
    <fieldset>
        <label for="email">Email</label>
        <input type="text" name="email" />
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" />
    </fieldset>
    <fieldset>
        <label for="password2">Verify Password</label>
        <input type="password" name="password2" />
    </fieldset>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="submit" value="Sign up" />
    <a href="/login">Already a member? Sign in!</a>
</form>